dj-database-url==0.4.1
Django==1.10.2
django-allauth==0.28.0
django-annoying==0.10.3
django-debug-toolbar==1.6
django-grappelli==2.8.2
django-scheduler==0.8
djangorestframework==3.4.7
gunicorn==19.6.0
icalendar==3.10
oauthlib==2.0.0
psycopg2==2.6.2
python-dateutil==2.5.3
python-openid==2.2.5
pytz==2016.7
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
sqlparse==0.2.1
whitenoise==3.2.2
